<div class="is-size-1 mb-6">Registered Devices</div>
<ul>
  <li>
    <a href="/">Back to Dashboard</a>
  </li>
  <li>
    <a href="/devices/new">Add Device</a>
  </li>
</ul>

<%= turbo_stream_from "devices" %>

<div class="devices">
  <%= render @devices %>
</div>
